.feynman{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 890px;
    background-size: 867px 637px;
    box-sizing: border-box;
    background: no-repeat left bottom url('../../images/feynman.png'), #F2F2F2;
    margin: 0 auto;
  }